doctype html

//
  @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

html(lang="fr")

    include /includes/head

    body

        #page-container

            include /includes/header

            link(rel='stylesheet' type='text/css' href='css/pages/contact.scss')
            #content-container

                div.mapouter
                    .gmap_canvas
                        iframe#gmap_canvas(src='https://maps.google.com/maps?q=%20Julie%20Fournier%20sexologue%20clinicienne%2C%20psychoth%C3%A9rapeute&t=&z=11&ie=UTF8&iwloc=&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
                        | Google Maps Generator by
                        a(href='https://www.embedgooglemap.net') embedgooglemap.net

                #photo-container
                    img(src='/img/contact/clinique.jpg', alt="Clinique")

                #contact-container

                    h1 Me contacter
                    #cards-container
                        .card
                            i.fas.fa-envelope.fa-2x.card-icon
                            .card-body
                                span.card-title Par courriel
                                span.card-major fournier.julie@outlook.com
                        .card
                            i.fas.fa-phone.fa-2x.card-icon
                            .card-body
                                span.card-title Par téléphone
                                span.card-major +1 (514) 835-1536

                #form-container

                    h1 Formulaire de contact

                    form#contact-form(method="POST" action="https://formspree.io/mqkqnjpr")

                        h3#title-contact-info
                            | Informations de contact

                        input#input-email(aria-describedby='title-contact-info' name="Courriel" type='email' placeholder='Adresse courriel')
                        input#input-name(aria-describedby='title-contact-info' name="Nom" type='text' placeholder='Nom')

                        h3#title-message
                            | Votre message

                        input#input-subject(aria-describedby='title-message' name="Sujet" type='text' placeholder='Sujet')
                        textarea#input-text(aria-describedby='title-message' name="Corps du message" placeholder='Corps du message...')

                        h3#title-prefs
                            | Préférences de contact (par exemple: am, pm, après 6h)

                        input#input-prefs(aria-describedby="title-prefs" name="Préférence de contact" placeholder="Heure désirée pour le contact")

                        input(type="submit" value="Envoyer")

                        input(type="hidden" name="_honeypot" value="")
                        input(type="hidden" name="_confirmation" value="Merci ! Votre message à été envoyé.")

            include /includes/foot
