doctype html

//
    @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

html(lang='fr')

    include includes/head

    body

        #page-container

            include includes/header

            link(rel='stylesheet', type='text/css', href='/css/pages/sexotherapie.scss')
            #content-container

                h1 La sexothérapie

                p
                    | Afin d'exercer la sexothérapie, le.la sexologue clinicien.ne doit posséder une maitrise en
                    | sexologie clinique ainsi qu'un permis provenant de l'Ordre des sexologues du Québec et
                    | un permis de psychothérapeute décerné par l'Ordre des psychologues du Québec.

                h2.sexo-title Les thèmes appartenant au champ de pratique des sexologues

                div#list-grid

                    div.list-container
                        h3 Difficultés sexuelles

                        ul
                            li Troubles du désir sexuel, hyper ou hypo actif
                            li Troubles de l'érection
                            li Troubles de l'éjaculation
                            li Compulsions sexuelles
                            li Douleurs à la pénétration
                            li Dégoût de la sexualité
                            li Dépendance à la pornographie
                            li Exhibitionnisme et voyeurisme
                            li Fétichisme
                            li Fantasmes sexuels troublants
                            li Abus sexuels
                            li Questionnements du l'orientation sexuelle
                            li Troubles de l'identité sexuelle

                    div.list-container
                        h3 Difficultés affectives et relationnelles

                        ul.custom-dec
                            li Troubles de l'intimité
                            li Difficultés amoureuses
                            li Problèmes de communication
                            li Dépendance affective
                            li Jalousie excessive
                            li Manque de confiance ou d'estime de soi
                            li Image corporelle déficitaire
                            li Relations extra-conjugales
                            li Stress, anxiété de performance
                            li Répétition de modèles fonctionnels inadéquats
                            li Séparations, deuils, divorces

                    div.list-container
                        h3 Difficultés sexuelles reliées à la santé

                        ul.custom-dec
                            li Grossesse, infertilité
                            li Avortement, fausse couche
                            li Ménopause, andropause
                            li Impacts sexuels des ITSS et du Sida
                            li Problèmes gynécologiques et urologiques
                            li Handicaps
                            li Maladies (cardiaques, cancer, diabète, etc.)

                p.small
                    | * Les thèmes ressortis ci-dessus proviennent de l'Association des sexologues du Québec.

                h2.sexo-title Durée

                p
                    | La durée des rencontres est de 50 minutes. Les différentes problématiques, la lourdeur
                    | des difficultés ainsi que d'autres facteurs influencent la durée totale de la période de
                    | traitement. Je devrais être en mesure de fournir une approximation de la période estimée
                    | dès les deux ou trois premières rencontres.

                h2.sexo-title Déroulement

                p
                    | Il est important de débuter par une évaluation de la difficulté qui s'effectue lors des
                    | premières rencontres. Cette évaluation vise à comprendre l'origine de la difficulté ou des
                    | difficultés sexuelles que vous éprouvez. Par la suite, je discute de la nature de la difficulté
                    | et des moyens pouvant être entrepris afin de favoriser une vie sexuelle et relationnelle
                    | plus épanouie.

                p
                    | La thérapie est souvent difficile et surtout lors du début de celle-ci. Il est donc important
                    | de pouvoir avoir confiance en son.sa thérapeute et de développer un bon lien de
                    | confiance. Bien choisir son.sa thérapeute est primordial.

                h2.sexo-title Collaboration

                p
                    | Il est probable dans certains cas que l'étroite collaboration entre différents professionnels
                    | de la santé travaillant auprès de vous et moi-même soit recommandée. Dans ce cas, je
                    | prendrais le temps d’en parler avec vous et d’évaluer la possibilité.

                h1 La psychothérapie

                p
                    | Un permis de psychologue, de médecin ou de psychothérapeute est nécessaire pour
                    | effectuer la psychothérapie. Cette dernière « vise à provoquer des changements
                    | d’attitudes, de comportements, de manières de penser ou de réagir chez une personne,
                    | afin de lui permettre de mieux se sentir, de trouver des réponses à ses questions, de
                    | résoudre des problèmes, de faire des choix, de mieux se comprendre. »
                    |
                    a(href="https://www.ordrepsy.qc.ca/qu-est-ce-qu-un-psychotherapeute-")
                        | (Ordre des psychologues du Québec)

            include includes/foot
