link(rel='stylesheet', type='text/css', href='css/footer.scss')
#footer-container

    #footer-row1
        span.link
            a(href='mailto:benjamin.dupont.984@gmail.com')
                | Contact administration
        span.link
            a(href='https://github.com/Benjozork/jfournier')
                | Code source

        p#version Version v1-02-060120

    #footer-row2
        p#infos-cpy Copyirght © 2019 Julie Fournier.
        p#infos-ssl
            | Ce site utilise une connexion encryptée grâce à
            a(title="Let's Encrypt est une marque déposée du Internet Security Research Group. Tous droits réservés.", href='https://letsencrypt.org/')
                | Let's Encrypt ™
