link(rel='stylesheet', type='text/css', href='css/header.scss')
#header-container

    mixin link(linkTarget, linkName)
        span#link-home.link
            a(href!=linkTarget)
                |  #{linkName}

    //#wip-banner
    //    p Veuillez noter qu'en raison des ordres de quarantaine en cours, je n'offrirai que des consultations en visioconférence.

    #header-menu
        img#logo-menu(src='img/logo.svg', alt='Logo', width='500')

        // Navigation

        +link('/index.pug', 'Accueil et présentation')

        +link('/services.pug', 'Services offerts')

        +link('/sexotherapie.pug', 'La sexothérapie')

        +link('/blogue.pug', 'Blogue')

        +link('/contact.pug',  'Contact')

        // Liens social
        a.button-facebook(href="https://www.facebook.com/julief01/", target="_blank")
            i.fab.fa-lg.fa-facebook

    #header-dropdown
        div#logo-container
            img#logo(src='img/logo.svg', alt='Logo')

        div#buttons-container

            a.button-facebook(href="https://www.facebook.com/julief01/", target="_blank")
                i.fab.fa-lg.fa-facebook

            button.button-menu#button-collapse
                span Menu
                i.fas.fa-lg.fa-chevron-circle-up
            button.button-menu#button-expand
                span Menu
                i.fas.fa-lg.fa-chevron-circle-down

        #links-container

            +link('/index.pug', 'Accueil et présentation')

            +link('/services.pug', 'Services offerts')

            +link('/sexotherapie.pug', 'La sexothérapie')

            +link('/blogue.pug', 'Blogue')

            +link('/contact.pug',  'Contact')
