head

    meta(charset='UTF-8')

    // Favicon
    link(rel='icon', href='img/favicon.png')

    // CSS slick
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')

    // CSS principal
    link(rel='stylesheet', type='text/css', href='/css/styles.scss')

    // FontAwesome
    script(defer='', src='https://use.fontawesome.com/releases/v5.8.1/js/all.js', integrity='sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ', crossorigin='anonymous')

    // jQuery
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')

    // Viewport
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Chrome color
    meta(name='theme-color', content='rgb(231, 194, 160)')

    title Julie Fournier