link(rel='stylesheet', type='text/css', href='css/header.scss')
#header-container

    mixin link(linkTarget, linkName)
        span#link-home.link
            a(href!=linkTarget)
                |  #{linkName}

    #wip-banner
        p Veuillez prendre note que je serai absente du 20 décembre au 6 janvier inclusivement. Je répondrai à mes courriels à mon retour. Joyeuses fêtes !

    #header-menu
        img#logo-menu(src='img/logo.svg', alt='Logo', width='500')

        // Navigation

        +link('/index.pug', 'Accueil et présentation')

        +link('/services.pug', 'Services offerts')

        +link('/sexotherapie.pug', 'La sexothérapie')

        +link('/blogue.pug', 'Blogue')

        +link('/contact.pug',  'Contact')

        // Liens social
        a.button-facebook(href="https://www.facebook.com/julief01/", target="_blank")
            i.fab.fa-lg.fa-facebook

    #header-dropdown
        div#logo-container
            img#logo(src='img/logo.svg', alt='Logo')

        div#buttons-container

            a.button-facebook(href="https://www.facebook.com/julief01/", target="_blank")
                i.fab.fa-lg.fa-facebook

            button.button-menu#button-collapse(onclick='toggleHeaderDropdown()')
                span Menu
                i.fas.fa-lg.fa-chevron-circle-up
            button.button-menu#button-expand(onclick='toggleHeaderDropdown()')
                span Menu
                i.fas.fa-lg.fa-chevron-circle-down

        #links-container

            +link('/index.pug', 'Accueil et présentation')

            +link('/services.pug', 'Services offerts')

            +link('/sexotherapie.pug', 'La sexothérapie')

            +link('/blogue.pug', 'Blogue')

            +link('/contact.pug',  'Contact')

    // header js
    script.
        // Header collapse

        let header = document.getElementById("header-menu");

        let headerDropdownLinks = document.getElementById("links-container")

        let headerDropdownCollapseButton = document.getElementById("button-collapse")
        let headerDropdownExpandButton   = document.getElementById("button-expand")

        let logo = document.getElementById("logo-menu");

        let initSize = header.clientHeight;

        /**
         * Updates the height of the header menu from the scrolling position
         */
        function updateHeaderFromScroll() {
            let bodyScroll = document.scrollingElement.scrollTop;

            if (header.style.display === 'none') return

            if (bodyScroll > initSize / 2) {
                header.style.height = "7em";
                logo.style.height = "425px";
            } else if (bodyScroll < initSize / 2) {
                header.style.height = "10em";
                logo.style.height = "500px";
            }
        }

        /**
         * Toggles the visibility of the header dropdown menu
         */
        function toggleHeaderDropdown() {
            if (headerDropdownLinks.classList.contains("collapsed")) {
                $('#links-container').slideDown(200)

                headerDropdownLinks.classList.remove("collapsed")
                headerDropdownLinks.classList.add("expanded")

                headerDropdownCollapseButton.style.display = 'block'
                headerDropdownExpandButton.style.display   = 'none'
            } else {
                $('#links-container').slideUp(200)

                headerDropdownLinks.classList.remove("expanded")
                headerDropdownLinks.classList.add("collapsed")

                headerDropdownCollapseButton.style.display = 'none'
                headerDropdownExpandButton.style.display = 'block'
            }
        }
