@charset "UTF-8";

@import "/css/styles";
@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

#content-container {
    @include adaptiveFullPageContainer
}

// Tab code

#tab-1-r:checked ~ section #tab-1,
#tab-2-r:checked ~ section #tab-2,
#tab-3-r:checked ~ section #tab-3 {
    display: block;
}

.blog-article {
    background-color: $background-color;

    padding: 2em 2em;
    @media ($breakpoint-tablet) {
        padding: 2em 4em;
    }

    margin-bottom: 2em;
}

.article-title {
    font-size: 1.3em;
}

.blog-article > span {
    display: inline-block;
    font-size: 1.15em;
    padding: .3em 0 .5em;
}

.article-categories-tag {
    margin-left: .75em;
    &::before {
        content: '|';
        margin-right: .75em;
    }
}

.article-categories {
    margin-left: .3em;

    color: darken($accent-color, 20%);
}

.article-author {
    color: darken($accent-color, 20%);
}

.article-body p {
    font-size: 1.05em;
    & span { font-size: 1em }
}