@charset "UTF-8";

@import "site/css/styles";
@import "site/css/variables";
@import "site/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

// gmaps

.mapouter,
.gmap_canvas,
#gmap_canvas {
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
}

#gmap_canvas {
    height: inherit;
}

// main grid

#content-container {
    @include adaptiveFullPageContainer;

    display: grid;
    grid-template: 350px auto / 1fr;

    @media ($breakpoint-desktop) {
        grid-template: auto / 1fr 1fr;
    }

}

#photo-container,
#contact-container,
#form-container {
    padding: 1em;
}

#photo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 100%
    }

    padding: 1em 0 0;
    @media ($breakpoint-desktop) {
        padding: 0;
    }
}

#contact-container {
    #cards-container {
        display: grid;

        @media (min-width: 1800px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    padding-bottom: 0;
    padding-left: 0;
}

#form-container {

    #contact-form {
        display: grid;
        grid-template: 1fr / 1fr;
        @media ($breakpoint-tablet) { grid-template-columns: 1fr 1fr; }
        grid-gap: .5em;

        h3 {
            @media ($breakpoint-tablet) { grid-column: span 2; }
        }

        //noinspection CssInvalidHtmlTagReference
        lt-mirror {
            grid-area: unset;
        }

        //#title-contact-info {
        //    grid-row: 1;
        //    grid-column: span 2;
        //}
        //
        //#title-message {
        //    grid-row: 3;
        //    grid-column: span 2;
        //}
        //
        //#input-subject {
        //    grid-row: 4;
        //    grid-column: span 2;
        //}
        //
        //#input-text {
        //    grid-row: 5;
        //    grid-column: span 2;
        //}

        input:not([type="button"]):not([type="submit"]), textarea, select {
            height: 3em;
            box-sizing: border-box;

            padding: 1em;

            border: $border-color 1px solid;
            border-radius: .5em;

            color: $text-color;
            background-color: $background-color;

            &:focus:not(:invalid) {
                border-color: $accent-color;
                border-width: 2px;
            }

            &#input-text {
                @media ($breakpoint-tablet) { grid-column: span 2; }
                height: 10em;
            }
        }

        input[type="submit"] {
            border: none; outline: none;

            background-color: $accent-color;

            cursor: pointer;

            border-radius: .5em;

            width: 60%;
            height: 3em;

            margin: 1em auto 0 auto;
            @media ($breakpoint-tablet) {
                margin: 0 0 0 auto;
            }
        }

    }

    padding-bottom: 0;
    padding-right: 0;
}
