@charset "UTF-8";

@import "/css/styles";
@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

// gmaps

.mapouter,
.gmap_canvas,
#gmap_canvas {
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
}

#gmap_canvas {
    height: inherit;
    width: 100%;
}

// main grid

#content-container {
    display: grid;

    @media (width > 700px) {
        grid-template: 500px auto / 1fr 1fr;
    }
}

#contact-container,
#form-container {
    padding: 1em;
}

#cards-container {
    display: grid;

    @media (width > 1200px) {
        grid-template-columns: 1fr 1fr;
    }
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5em;

    h3{
        grid-column: span 2;
    }

    input, textarea, select {
        height: 3em;
        box-sizing: border-box;

        padding: 1em;

        border: $border-color 1px solid;
        border-radius: .5em;

        color: $text-color;
        background-color: $background-color;

        &:focus:not(:invalid) {
            border-color: $accent-color;
            border-width: 2px;
        }

        &#input-text {
            grid-column: span 2;
            height: 10em;
        }
    }

    select {
        padding-top: 0;
        padding-bottom: 0;
    }
}