@charset "UTF-8";

@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

#content-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

#images-container {
    grid-column: span 2;
}

.slick-slide {
    width: 70em;
}

.slide {
    position: relative;

    cursor: ew-resize;

    img {
        width: 100%;
    }
}

.slide-caption {
    position: absolute;
    bottom: 35px;
    left: 35px;

    z-index: 100;

    font-size: 2em;

    background-color: rgba(0, 0, 0, 0.33);
    color: rgba(255, 255, 255, 0.66);

    padding: .3em 1em;
}

.slide-arrow {
    width:  50px;
    height: 50px;

    background-color: rgba(0, 0, 0, 0.33);
    color: rgba(255, 255, 255, 0.33);

    font-size: 2em;

    position: absolute;
    top: calc(50% - 50px);
    z-index: 100;

    margin:  30px;
    padding: 0;

    outline: none;
    border:  none;
    border-radius: 50%;

    cursor: pointer;

    transition: all linear 125ms;

    &:hover {
        transform: scale(1.15);
    }
}

.prev-arrow {
    left: 0;
}

.next-arrow {
    right: 0;
}

#body-container {
    background-color: $background-color;
    color: $text-color;

    border-radius: .4em;

    display: grid;
    grid-template-columns: 1fr;
    @media ($breakpoint-desktop) {
        grid-template-columns: 7fr 3fr;
    }

    grid-template-rows: auto;

    // ie grid fix
    -ms-grid-row: 2;

    & > div {
        padding: 1em 1em;
        @media ($breakpoint-desktop) {
            padding: 1em 0;
        }
    }
}

#tab-container {
    p {
        margin-bottom: 1.5em;
        text-align: justify;
        float-displace: line;

        // noinspection CssInvalidPropertyValue
        clear: inline-end;
        @media ($breakpoint-tablet), ($breakpoint-desktop) {
            clear: none;
        }
    }

    @media ($breakpoint-tablet), ($breakpoint-desktop) { padding-left: 3em !important; }

    border-right: $border-color .05em solid;

    // ie grid fix
    -ms-grid-row: 1;
}

#photo {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;

    width: 225px;
}

#signature {
    width: 12.5em;

    vertical-align: top;

    position: relative;
    left:   4em;
    bottom: .75em;
}

#sidebar-container {
    background-color: $background-color;
    border-radius: .4em;

    @media ($breakpoint-tablet) { padding-right: 2em; }

    padding-top: calc(63.6px + 1em) !important;

    // ie grid fix
    -ms-grid-column: 2;
}

#logos-flex {

    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    align-items:     stretch;
    justify-content: space-evenly;

    border-radius: 0.75em;

    padding: 1em;
    margin-right: 2em;

    & div {
        width: 20em;
        padding: 1em;

        display: flex;
            flex-direction: column;
            align-items: center;

        & img {
            height: 5em;

            &#img-uqam {
                height: 4em;
            }

            &#img-apq {
                height: 4.25em;
            }

            &#img-asq {
                height: 7em;
            }

            &#img-opo {
                height: 5em;
            }

            margin-bottom: auto;
        }

        & span {
            text-align: center;
            margin-top: auto; padding-top: 1em;
        }
    }

}

// Tab code

#tab-container {

    & > input,
    section > div {
        display: none;
    }

    nav {

        margin-bottom: 1em;
        @media ($breakpoint-desktop) {
            margin-bottom: 0;
        }

        ul {
            display: flex;

            justify-content: center;
            @media ($breakpoint-desktop) {
                justify-content: left;
            }

            padding: 0;

            & li {
                display: inline-block;

                & label {
                    font-size: 1.1em;
                }
            }
        }
    }
}

#tab-1-r:checked ~ section #tab-1,
#tab-2-r:checked ~ section #tab-2,
#tab-3-r:checked ~ section #tab-3 {
    display: block;
}

#tab-2 {
    margin-right: 2em;
}