@charset "UTF-8";

@import "/css/styles";
@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

#content-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

#images-container {
    grid-column: span 2;
}

.slick-slide {
    width: 130vw;
    @media ($breakpoint-tablet) {
        width: 70vw;
    }
}

.slide {
    position: relative;

    cursor: ew-resize;

    img {
        width: 100%;
    }
}

.slide-caption {

    position: absolute;

    bottom: 0;

    display: inline-block;
    padding: .3em 0;
    width: 130vw;

    background-color: rgba(0, 0, 0, 0.33);

    text-align: center;

    @media ($breakpoint-tablet) {
        width: unset;

        bottom: 35px;
        left: 35px;
        text-align: left;

        padding: .3em 1em;
    }

    z-index: 10000;

    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.66);

}

.slide-arrow {
    width:  50px;
    height: 50px;

    background-color: rgba(0, 0, 0, 0.33);
    color: rgba(255, 255, 255, 0.33);

    font-size: 2em;

    position: absolute;
    top: calc(50% - 50px);
    z-index: 100;

    margin:  30px;
    padding: 0;

    outline: none;
    border:  none;
    border-radius: 50%;

    cursor: pointer;

    transition: all linear 125ms;

    &:hover {
        transform: scale(1.15);
    }
}

.prev-arrow {
    left: 0;
}

.next-arrow {
    right: 0;
}

#body-container {
    background-color: $background-color;
    color: $text-color;

    border-radius: .4em;

    display: grid;
    grid-template-columns: 1fr;
    @media ($breakpoint-desktop) {
        grid-template-columns: 7fr 3fr;
    }

    grid-template-rows: auto;

    // ie grid fix
    -ms-grid-row: 2;
}

#tab-container {
    @include adaptiveSplitContainer(true);

    border-right: $border-color .05em solid;

    // ie grid fix
    -ms-grid-row: 1;
}

#sidebar-container {

    border-radius: .4em;

    @include adaptiveSplitContainer(false);

    background-color: $background-color;

    & .card {
        margin-left:  0;
        margin-right: 0;
    }

    // ie grid fix
    -ms-grid-column: 2;
}

#logos-flex {

    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    align-items:     stretch;
    justify-content: space-evenly;

    border-radius: 0.75em;

    padding: 1em;

    @media ($breakpoint-desktop) {
        margin-right: 2em;
    }

    & div {
        width: 20em;
        padding: 1em;

        display: flex;
            flex-direction: column;
            align-items: center;

        & img {
            height: 5em;

            &#img-uqam {
                height: 4em;
            }

            &#img-apq {
                height: 4.25em;
            }

            &#img-asq {
                height: 7em;
            }

            &#img-opo {
                height: 5em;
            }

            margin-bottom: auto;
        }

        & span {
            text-align: center;
            margin-top: auto; padding-top: 1em;
        }
    }

}

// Tab code

.tab-container {
    @include adaptiveSplitContainer(true);

    li {
        font-size: 1.05em;
    }
}

#tab-1-r:checked ~ section #tab-1,
#tab-2-r:checked ~ section #tab-2,
#tab-3-r:checked ~ section #tab-3 {
    visibility: unset;
    width: initial;
    height: initial;
}

// v2
#tab-1 {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 1.5em 3em;

    @media ($breakpoint-tablet) {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr auto;
    }

    #contenu {
        #texte {
            display: flex;
            flex-direction: column;

            #signature {
                width: 12.5em;

                margin-left: auto;
            }
        }
    }

    #photo {
        width: 80%;

        grid-row: 1;
        justify-self: center;

        @media ($breakpoint-tablet) {
            width: 100%;

            grid-row: unset;
        }

        border-radius: 1em;
        box-shadow: 0 0 5px rgba(102, 102, 102, 0.4);
    }

    #logos {
        @media ($breakpoint-tablet) {
            grid-column: span 2;
        }
    }

}

#tab-2 {
    @media ($breakpoint-tablet) {
        margin-right: 2em;
    }
}
