@charset "UTF-8";

@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

#content-container {
    background-color: $background-color;

    margin-top: 12.5em;

    padding: 3em 3em;
    @media ($breakpoint-desktop) {
        padding: 1em 15em;
    }


    .service-grid {
        display: grid;

        grid-template-columns: 1fr;
        @media ($breakpoint-tablet) {
            grid-template-columns: 1fr 1fr;
        }

        grid-gap: 3em 2em;

        .service-container {

            display: flex;
            flex-direction: column;

            margin: 1em 2em;

            &:nth-child(odd) {
                -ms-grid-column: 2;
            }
            &:nth-child(even) {
                -ms-grid-column: 1;
            }

            & p {
                text-align: justify;
                margin-bottom: 1.5em;
            }

            .service-link-info {
                margin-top: auto;

                & .link {
                    display: inline-block;

                    margin-top: 0;
                    margin-left: 0;
                }
            }

            .links {
                display: flex;
            }

        }
    }
}