@charset "UTF-8";

@import "/css/styles";
@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

#content-container {
    @include adaptiveFullPageContainer
}

.sexo-title {
    margin: 1em 0;
}

#list-grid {
    display: grid;

    grid-template: 1fr / auto;
    @media ($breakpoint-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    grid-gap: 2em;

    h3 {
        margin-top: 0;
    }

    .list-container {
        padding: 1.5em;
        background-color: $background-color;
    }
}