@import "variables";
@import "queries";

#footer-container {
    grid-column: span 2;

    // ie grid fix
    -ms-grid-row: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5em;
    @media ($breakpoint-footer-desktop) {
        padding: 5em 5em 5em 40em;
    }

    background-image:    url("../img/decoration.png");
    background-repeat:   no-repeat;
    background-size:     35em;
    background-position: 20px 20px;
    background-color:    $footer-color;

    color: white;

    a {
        color: white;
        font-size: 1em;
    }
}

#footer-row1 {
    width: 100%;

    display: flex;

    flex-direction: column;
    align-items: stretch;

    @media ($breakpoint-footer-desktop) {
        flex-direction: row;
        align-items: center;
    }

}

#footer-row2 {
    width: 100%;

    margin-top: 2em;

    display: flex;

    flex-direction: column;
    @media ($breakpoint-footer-desktop) {
        flex-direction: row;
    }

    align-items: center;

}

#footer-row1 p {
    margin-left: auto;
    @media ($breakpoint-footer-tablet) {
        margin: auto;
    }
}

#icone-ssl {
    font-size: 1em;

    margin-left:   auto;
    margin-right: .75em;

    @media ($breakpoint-footer-tablet) {
        display: none;
    }
}