@import "/css/variables";
@import "/css/queries";

#header-container {
    position: fixed;
    z-index: 200;

    font-size: 15px;

    background-color: $header-color;

    width: 100%;

    ul {
        float: right;
    }

    top: 0;
}

// WIP banner

#wip-banner {
    text-align: center;
    height: 2.5em;

    background-color: #d5bc2f;

    & > p {
        display: inline;

        vertical-align: middle;
        line-height: 2.5em;
    }
}

// Links

#header-menu {

    display: none;
    @media ($breakpoint-footer-tablet and $breakpoint-footer-desktop) {
        display: flex;
    }

    height: 10em;

    padding: 0 1.5em;

    align-items: center;
    justify-content: right;

    overflow: hidden;

    transition: all ease-in-out 300ms;

    #logo-menu {
        margin-right: auto;
        transition: all ease-in-out 300ms;
    }

    .logo-social {
        margin: 1.5em;
    }
}

#header-dropdown {

    @media ($breakpoint-footer-tablet and $breakpoint-footer-desktop) {
        display: none;
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;

    #logo-dropdown-container {
        width: 100%;

        overflow: hidden;
        align-self: center;
    }

    #logo-dropdown {
        width: 100%;
        height: 90px;
        margin: auto;

        transform: scale(4);
    }

    & span.link {
    }

    #buttons-container {

        margin: 0 1rem 1rem;

        font-size: 1.3em;
        line-height: 0;

        #button-dropdown-collapse,
        #button-dropdown-expand {
            border: none; outline: none; background: none;

            padding: 0;
            margin: 0 0 0 auto;

            color: $accent-color;
            font-size: inherit;
        }

    }

}