@charset "UTF-8";

@import "/css/variables";
@import "/css/queries";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

#header-container {
    position: fixed;
    z-index: 200;

    font-size: 15px;

    background-color: $header-color;

    width: 100%;

    ul {
        float: right;
    }

    top: 0;
}

// WIP banner

#wip-banner {
    text-align: center;
    height: 2.5em;

    background-color: #d5bc2f;

    & > p {
        display: inline;

        vertical-align: middle;
        line-height: 2.5em;
    }
}

// Links

#header-menu {

    display: none;
    @media ($breakpoint-tablet and $breakpoint-desktop) {
        display: flex;
    }

    height: 10em;

    padding: 0 1.5em;

    align-items: center;
    justify-content: right;

    overflow: hidden;

    transition: all ease-in-out 300ms;

    #logo-menu {
        margin-right: auto;
        transition: all ease-in-out 300ms;
    }

    .logo-social {
        margin: 1.5em;
    }
}

#header-dropdown {

    @media ($breakpoint-tablet and $breakpoint-desktop) {
        display: none;
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;

    box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.29);
    
    #logo-container {
        width: 100%;

        border-bottom: 1px $border-color solid;

        overflow: hidden;
        align-self: center;
    }

    #logo {
        width: 100%;
        height: 80px;
        margin: auto;

        transform: scale(4);
    }

    #links-container {
        display: none;
    }

    #buttons-container {

        margin: .75rem 1.25rem;

        font-size: 1.3em;
        line-height: 0;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        button, a {
            border: none; outline: none; background: none;

            padding: 0 .75em;

            & span {
                padding: 1rem;
                color: lighten($text-color, 0%);
                font-weight: 400;
            }

            &.button-menu {
                border-left: 1px $border-color solid;
                margin-left: auto;

                &#button-collapse {
                    display: none;
                }
            }

            color: $accent-color;

            font-size: inherit;
        }

    }

}