@charset "UTF-8";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

$breakpoint-phone:   "min-width: 300px";
$breakpoint-tablet:  "min-width: 1200px";
$breakpoint-desktop: "min-width: 1500px";