@charset "UTF-8";

// @2019 Benjamin Dupont - benjamin.dupont.984(a commercial)gmail(point)com

$breakpoint-tiny:    "min-width: 200px";
$breakpoint-phone:   "min-width: 500px";
$breakpoint-tablet:  "min-width: 768px";
$breakpoint-desktop: "min-width: 1500px";
